@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background: #beebf1;
  width: 100%;
  height: 100%;
}

.calculator {
  background-color: #191b28ff;
  color: #fbfafdff;
  max-width: 350px;
  height: 550px;
  margin: 8vh auto;
  box-shadow: -8px 5px 18px 5px rgba(25, 27, 40, 0.3);
}
.calculator__display {
  height: 20%;
  padding: 10% 0 5% 0;
}
.calculator__display__top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #1e2337ff;
  margin: 0 9%;
}
.calculator__display__top--left {
  color: #52c9ddff;
  font-size: 45px;
}
.calculator__display__top--right {
  text-align: right;
  color: #fbfafdff;
  font-size: 45px;
}
.calculator__display__bottom {
  font-size: 25px;
  text-align: right;
  margin: 5% 10% 0 10%;
}
.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
  margin: 5% 8% 0 8%;
}
.calculator__buttons__btn {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: auto;
  color: #fbfafdff;
  border: none;
  font-size: 25px;
}
.calculator__buttons__btn:hover {
  transform: scale(1.1);
}
.calculator__buttons__btn--blue {
  background-color: #52c9ddff;
}
.calculator__buttons__btn--num {
  background-color: #1e2337ff;
}
.calculator__buttons__btn--big {
  grid-column: 4/5;
  grid-row: 4/span 2;
  height: 125px;
}
.calculator__buttons__btn--dot {
  background-color: #1e2337ff;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
footer#signature {
  text-align: center;
  color: #1e2337ff;
}
